//Colors
$white: #FFF; /* White */
$white2: rgba(255, 255, 255, .8);
$white3: rgba(255, 255, 255, 1);
$gray20: #333; /*Dark charcoal*/

$suvaGrey: #8f8f8f;	/*Suva Grey*/
$charcoal: #36454f; /*Charcoal*/
$black: #000; /* Black */

$instagram: #f09433;
$twitter: #0084b4;
$linkedin: #2867b2;

$torchred: #ff003c;
$gray80: #ccc;
$red: #f00;

$cello: #34495e;
$shade-of-gold: #F1D600;
$cyan-blue-medium-light-shade: #4B8EE7;

//Fonts


//Variables


//Placeholder
@mixin flexbox() {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

/*
@mixin flex() {
	-webkit-box-flex: 1;
		-webkit-flex: 1;
			-ms-flex: 1;
				flex: 1;
}
*/

%flex-flow-row-wrap {
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;	
}

%flex-direction-row {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

%flex-direction-column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

%align-items-center {
	 -webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

%justify-content-space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

%justify-content-space-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;	
}

%justify-content-center {
	-webkit-justify-content: center;
	justify-content: center;	
}

@mixin transform($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin animate ($attr, $time){
	-webkit-transition: $attr $time ease-in-out;
	-moz-transition: $attr $time ease-in-out;
	-ms-transition: $attr $time ease-in-out;
	-o-transition: $attr $time ease-in-out;
	transition: $attr $time ease-in-out;
}

//Media Queries
$xs: 575px; /*Extra small devices (portrait phones, less than 576px)*/

$sm: 767px; /* Small devices (landscape phones, less than 768px)*/

$md: 991px; /* Medium devices (tablets, less than 992px)*/

$lg: 1199px; /* Large devices (desktops, less than 1200px)*/