/*

	Theme Namme: Design Studio Theme
	Author: Gytis
	Description: This is my design studio. Crispy, beautiful and awesome in every resolution. Ready for responsive, with multiple custom options in the Administration Panel.
	Version: 1.0.0.
	License: GNU General Public License v2 or later
	Tags: responsive, clean, icon font, design studio, custom admin options.
	Text Domain: Design-studio-theme;

*/