.footer-section {
	background-color: $charcoal;
	margin-top: 50px;
	.footer-row {
		padding: 1em;
		width: 100%;
		h6 {
			color: $white;
		}		
		p {
			color: $white;
			text-align: justify;
			text-justify: inter-word;
		}

		.copyright-text {
			padding-top: 1em;
		}
	}
}

.footer-section {
	.footer-contacts {
		.icons {
			color: $white;
			font-size: large;
			margin: 0 10px;
		}
		p {
			max-width: 80%;
		}
	}
}

/* LINKS ANIMATION START */
@keyframes push {
	50% {
		@include transform(scale(.8)); /*transform: scale(.8);*/
	}
	100% {
		@include transform(scale(1)); /*transform: scale(1);*/
	}
}
/* LINKS ANIMATION END */

.footer-section {
	.links {
		list-style: none;
		padding: 0;
		margin: 0;			
		li {
			font-size: 16px;
			cursor: pointer;
			margin-bottom: 16px;
			-webkit-font-smoothing: antialiased;
/* LINKS ANIMATION START */
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			@include transform(translateZ(0)); /* transform: translateZ(0);*/
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			&:hover {
				animation-name: push;
				animation-duration: .3s;
				animation-timing-function: linear;
				animation-iteration-count: 1;				
			}
/* LINKS ANIMATION END */
			a {
				padding: 0;
				margin: 0;
				color: $white2;
				&:hover {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
}

.footer-section {
	.social {
		text-align: center;
		.social-media {
			padding: 0;
			list-style: none;
			margin: 1em;
			li {
				display: inline-block;
				margin: .15em;
				position: relative;
				font-size: 1.2em;
				a {
					display: inline-block;
					i {
						color: $white;
						position: absolute;
						top: 16px;
						left: 17px;
						@include animate(all, .3s); /*transition: all 265ms ease-out;*/
					}
				}
			}
		}
	}
}

.instagram {
	&:before {
		@include transform(scale(1));
		content: " ";
		width: 50px;
		height: 50px;
		border-radius: 100%;
		display: block;
		@include animate(all, .3s); /*transition: all 265ms ease-out;*/
		background: $instagram; 
		background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
		background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
		background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	}
	&:hover {
		i {
			@include transform(scale(2.2));
			@include animate(all, .3s); /*transition: all 265ms ease-out;*/
			color: $torchred;
			
			/*background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
			-webkit-background-clip: text; -webkit-text-fill-color: transparent;*/
			background: $instagram; 
			background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
			background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
			background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;							
		}
	}
}
.twitter {
	&:before {
		@include transform(scale(1));
		content: " ";
		width: 50px;
		height: 50px;
		border-radius: 100%;
		display: block;
		@include animate(all, .3s); /*transition: all 265ms ease-out;*/
		background: $twitter;						
	}
	&:hover {
		i {
			@include transform(scale(2.2));
			color: $torchred;
			@include animate(all, .3s); /*transition: all 265ms ease-out;*/
			background: $twitter;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;							
		}
	}
}
.linkedin {
	&:before {
		@include transform(scale(1));
		content: " ";
		width: 50px;
		height: 50px;
		border-radius: 100%;
		display: block;
		@include animate(all, .3s); /*transition: all 265ms ease-out;*/
		background: $linkedin;						
	}
	&:hover {
		i {
			@include transform(scale(2.2));
			color: $torchred;
			@include animate(all, .3s); /*transition: all 265ms ease-out;*/
			background: $linkedin;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;							
		}
	}
}
.instagram, 
.twitter, 
.linkedin {
	&:hover {
		&:before {
			@include transform(scale(0));
			@include animate(all, .3s); /*transition: all 265ms ease-out;*/
		}
	}
}